body {
  background-color: #93ACD4;
}

form {
  display: table;
}
label {
  display: table-cell;
}

input {
  display: table-cell;
  margin-left: 5px;
  margin-right: 20px;
}
select {
  margin-right: 5px;
}

a {
  color: yellowgreen;
}

a:hover {
  color: white;
}
.jumbotron {
  color: yellowgreen;
  background-color: slategray;
  text-align: center;
  padding: 1px 1px 1px 1px;
}

#jumbotronHeader {
  font-size: 6vw;
}

#jumbotronSubHeader {
  font-size: 2vw;
}

#retailerForm {
  float: left;
  padding: 10px 10px 10px 10px;
}

.editLink {
  color: white;
  font-size: 1.5vw;
}

.formStyle {
  background-color: slategray;
  padding: 15px;
  border-radius: 8px;
}

.customHeader {
  color: white;
}

.topnav {
  background-color: slategray;
  overflow: hidden;
  border-radius: 8px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: yellowgreen;
  color: white;
}
