<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Good Games</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 id="jumbotronHeader"><strong><em>GOOD</em></strong> GAMES</h1>
        <h4 id="jumbotronSubHeader"><em>It's time to Git Gud.</em></h4>
      </div>
      <div id="TopNav" align="center" class="topnav">
        <a href="/">Home</a>
        <a href="/games">All Games</a>
        <a href="/games/new">Add A Game</a>
        <a href="/retailers">All Retailers</a>
        <a href="/retailers/new">Add A Retailer</a>
      </div>
      @RenderBody()

    </div>

  </body>
</html>
