@{
  Layout = "_Layout";
}

<h2>Enter A Retailer</h2>
<div id="retailerForm" class="container">
  <div class="col-md-5">
    <form action="/retailers" method="post">
      <label for="retailer-name">Retailer Name:</label>
      <input id="retailer-name" type="text" name="retailer-name" placeholder="Ex: Gill's Games">
      <br>
      <label for="retailer-website">Retailer Website:</label>
      <input id="retailer-website" type="text" name="retailer-website" placeholder="Ex: www.gillsgames.com" >
      <br>
      <button type="submit">Submit!</button>
    </form>

  </div>

</div>
